<div class="jumbotron">
  <% if user_signed_in? %>
    <h1>Welcome back!</h1>
    <p class="lead">
         Bienvenido, ahora cierra sesion porque esto no hace nada todavia!! :c
    </p>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
  <% else %>
    <h1>Welcome!</h1>
    <p class="lead">
        Sign in to start making some new entries!!
    </p>
    <div class="row-fluid">
      
        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
     
        <%= link_to "Registry", new_user_registration_path, :class => "btn btn-success" %>
    </div>
  <% end %>
</div>