
  <% if user_signed_in? %>
       <%if current_user.registros.count == 0 %>
             <h1>New Entry</h1>
              <%= render :partial =>'registros/form', :locals => {:@registro => Registro.new} %>
        <%else%>
           <script type="text/javascript">
        window.location.href = "/registros"
        </script>
       <%end%>
  <% else %>
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">
        Sign in to start making some new entries!!
    </p>
    <div class="row-fluid">
      
        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
     
        <%= link_to "Registry", new_user_registration_path, :class => "btn btn-success" %>
    </div>
    </div>
  <% end %>
